<%- include('./partials/header') %>
    <section class="home-whatNext">
        <h1>WHAT’S NEXT STARTS</h1>
        <h2>
            <div class="circle"></div>HERE
        </h2>
        <div class="videos">
            <video src="assets/img/Hero.mp4" autoplay muted loop></video>
        </div>
        <p>STRATEGY, DESIGN, TECHNOLOGY</p>
        <div class="branding">
            <div class="branding-text">
                <h3>
                    BASIC® is a branding and digital design agency building products, services, and ecommerce
                    experiences
                    that turn cultural values into company value.
                </h3>
                <a href="/work">SEE THE WORK</a>
            </div>
            <div class="branding-img">

                <img src="assets/img/footer-logo-bg-white.svg" alt="">
            </div>

        </div>


    </section>
    <section class="featured">

        <h1>FEATURED ENGAGEMENTS</h1>
        <article class="featured-section">
            <% ingegment.forEach(data1=> {%>
                <div class="google">
                    <img src="<%= data1.logo %> " alt="">
                    <p>––––</p>
                    <h3>
                        <%= data1.name %>
                    </h3>
                    <h5>
                        <%= data1.disc %>
                    </h5>
                </div>
                <%}) %>


        </article>

    </section>
    <section class="section-helpsBrand">
        <article class="article-helpsBrand">
            <div class="helpsBrand-text">
                <h3>
                    BASIC® HELPS BRANDS ●CONNECT
                    W/ CULTURE
                </h3>
                <p>ADWEEK <span>(AGENCY SPOTLIGHT)</span> </p>
                <a href="/about">ABOUT US</a>
            </div>
            <div class="helpsBrand-video">

                <video src="assets/img/Culture.mp4" autoplay muted loop></video>
            </div>
        </article>
        <article class="article-featured-news">
            <h1>FEATURED</h1>
            <h1>NEWS</h1>
            <% featurd.forEach(featurdNews=> {%>
                <div class="adweek">


                    <div class="adweek-news">
                        <img src="<%=featurdNews.img %> " alt="">
                        <div class="adweek-text">
                            <h2>
                                <%=featurdNews.disc %>
                            </h2>
                            <p>
                                <%=featurdNews.source %><span>
                                        <%=featurdNews.date %>
                                    </span>
                            </p>
                        </div>

                    </div>
                    <div class="adweek-img">
                        <a href=""><img src="assets/img/arrow.svg" alt=""></a>
                    </div>
                </div>
                <%}) %>
        </article>

    </section>


    <%- include('./partials/footer') %>